#marko{
    width: 30px;
    height: 30px; 
}

#blue{
    width: 10vw;
    height: 10vh;
    background-color: red;
}
#green{
    width: 10vw;
    height: 10vh;
    background-color: green;
}
#greenp{
    color: yellow;
}

#avaf{
    width: 10vw;
    height: 10vh;
}
#avam{
    display: none;
}
#forest{
    width: 10vw;
    height: 10vh;
    background-image:url(avatarforest.png);
}

#nils{
    filter: grayscale(1);
}